.hero {
    margin-top: 110px;
    background-image: url("./../../../../assets/hiking-background.jpg");
    background-size: cover;
display: block;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#zip{
    width: 20%;
}

@media screen and (max-width: 760px) {
 .level {
     display: flex;
 }
 .table {
     table-layout: fixed;
     font-size: 12px;
 }
}


td{
    font-family: 'Comfortaa', cursive;
}

.alt-img{
    height: 100px;
    width: 100px;
}





